/*
@media (min-width: 576px)  { /* @include media-breakpoint-up(sm) 
@media (min-width: 768px)  { /* @include media-breakpoint-up(md) 
@media (min-width: 992px)  { /* @include media-breakpoint-up(lg) 
@media (min-width: 1200px) { /* @include media-breakpoint-up(xl) 
@media (min-width: 1400px) { /* @include media-breakpoint-up(xxl)
*/

body {
    background-color: mistyrose;
    background: radial-gradient(white, #FFFCFB, #FFF6F5, mistyrose, #EFD7D5, #BFB2B0);
    background-repeat: no-repeat; /* don't tile */
    background-attachment:fixed; /* don't move when content's height is greater than background's height */
    background-size:cover; /* cover full height and width */
    font-family: 'Sorts Mill Goudy', serif;
}

p {
    font-size:125%;
}

a {
    color: #484342;
}
a:hover {
    color: #A79C9A;
}

/* Custom Carousel Captions per Window Size */

@media (min-width: 768px) { /* media-breakpoint-up(md) */
.caption0 {
    text-align:left;
    transform:translateY(-50%); /* move the caption up 50% in parent element */
    top:50%; /* create buffer at top to move text down */
    right:60%; /* increase right-hand buffer so text wraps */
    left:10%; /* override bootstrap default 15% */
}}

/* xs through sm */
.caption0 > h1 {
    font-size:2em;
}

@media (min-width: 992px) { /* media-breakpoint-up(lg) */
.caption0 > h1 {
    font-size:3em;
}}

@media (min-width: 768px) { /* media-breakpoint-up(md) */
.caption1 {
    text-align:right;
    transform:translateY(-2%);
    top:0;
    right:1%;
}}

@media (min-width: 768px) { /* media-breakpoint-up(md) */
.caption1 > h1 {
    font-size:2.2em;
}}

.carousel-item {
    max-height: 729px; /* bound all carousel items to same max-height */
}

.carousel-control-prev {
    width:10%; /* override bootstrap default 15%, moves further towards outside of carousel */
}

.carousel-control-next {
    width:10%; /* override bootstrap default 15%, moves further towards outside of carousel */
}

.card {
    margin-bottom:20px;
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 5px 15px grey;
}

.portraitWall {
    padding-top:15px;
}

.portraitWall img {
    padding: 0;
    object-fit: cover; /* crop, don't scale */
    margin-bottom:30px;
    border:15px #D8BC70;
    max-width:90%;
}

.navbar-brand {
    font-weight:bold;
    font-size:150%;
}

.navbar {
    font-size:150%;
}

.nav-item {
    display: flex;
    align-items: center;
    text-align: center;
}

.copyright {
    color:#8F8584;
    font-size:100%;
    font-style:italic;
}

.signedin {
    color:rgba(0,0,0,.55);
    margin-right:10px;
    font-size:75%;
}

.table tr > * {
    vertical-align:middle;
}

.table th {
    vertical-align:middle;
}

.table td {
}

.availButton {
    background-color:transparent;
    width:100%;
    border:1px solid grey;
    border-radius:5px;
}

.bg-success {
    background-color:#1ABB71!important;
}

td.schedButtonCol {
    background: rgba( 248, 249, 250, 0.3);
    color: #484342;
    padding:0;
    white-space: nowrap;
    width: 32px;
}

td.schedButtonCol:hover {
    background: rgba( 248, 249, 250, 0.4);
    color: #928987;
    cursor: pointer;
}

td.disabled {
    pointer-events:none;
}

.schedButton {
    display:inline-block;
}

.schedButton button {
    background: inherit;
    color: inherit;
    padding: 0;
    border: none;
}

.bi {
    font-size:2em;
}

.bookButton {
    background-color:transparent;
    width:100%;
    border:1px solid grey;
    border-radius:5px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #BFB2B0; /* Darker grey */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
