{% extends 'site.html' %}

{% block title %}Booking{% endblock %}

<!-- 
content_header, flashed messages, and content are in 
<main class="container-fluid mt-4"> 
-->

{% block content_header %}
{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center mh-70 fadeInNoDelay">
  <div class="card text-center bg-light col-lg-6 col-md-8 col-sm-12">
    <img class="card-img-top" src="{{ url_for('static', filename="images/makeup2.jpg") }}" alt="makeup">
    <div class="card-body">
      <h3 class="card-title">Custom Makeup Session</h3>
      <h4 class="card-title">{{ apptDate }}</h4>
      <h4 class="card-title">{{ apptTime.start }} &ndash; {{ apptTime.end }}</h4>
      <div class="d-flex row justify-content-around">
        <div class="col py-1">
          <a class="card-link btn btn-light" href={{ url_for('site.book') }}><i class="bi-arrow-left"></i>  Change Selection</a>
        </div>
        <div class="col py-1">
          <a class="card-link btn btn-light" href={{ url_for('site.booked') }}>Confirm Appointment  <i class="bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
